[Unit]
Description=Remote desktop service (VNC)
After=rsyslog.service network.target

[Service]
Type=simple
RemainAfterExit=yes
ExecStartPre=/bin/sh -c '/usr/bin/vncserver -kill %i > /dev/null 2>&1 || :'
ExecStart=/sbin/runuser -l pi -c "/usr/bin/vncserver -geometry 1024x768 %i"
ExecStop=/sbin/runuser -l pi -c "/usr/bin/vncserver -kill %i"

[Install]
WantedBy=multi-user.target
